## Modelling

In [2]:
cd c:\\Users\\91870\\Desktop\\churn_rate

c:\Users\91870\Desktop\churn_rate

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import random

In [4]:
dataset = pd.read_csv('new_churned_data.csv')

In [5]:
dataset.head()

,user,churn,age,housing,deposits,withdrawal,purchases_partners,purchases,cc_taken,cc_recommended,...,payment_type,waiting_4_loan,cancelled_loan,received_loan,rejected_loan,zodiac_sign,left_for_two_month_plus,left_for_one_month,reward_rate,is_referred
0,55409,0,37.0,na,0,0,0,0,0,0,...,Bi-Weekly,0,0,0,0,Leo,1,0,0.00,0
1,23547,0,28.0,R,0,0,1,0,0,96,...,Weekly,0,0,0,0,Leo,0,0,1.47,1
2,58313,0,35.0,R,47,2,86,47,0,285,...,Semi-Monthly,0,0,0,0,Capricorn,1,0,2.17,0
3,8095,0,26.0,R,26,3,38,25,0,74,...,Bi-Weekly,0,0,0,0,Capricorn,0,0,1.10,1
4,61353,1,27.0,na,0,0,2,0,0,0,...,Bi-Weekly,0,0,0,0,Aries,1,0,0.03,0

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26996 entries, 0 to 26995
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   user                     26996 non-null  int64
 1   churn                    26996 non-null  int64
 2   age                      26996 non-null  float64
 3   housing                  26996 non-null  object
 4   deposits                 26996 non-null  int64
 5   withdrawal               26996 non-null  int64
 6   purchases_partners       26996 non-null  int64
 7   purchases                26996 non-null  int64
 8   cc_taken                 26996 non-null  int64
 9   cc_recommended           26996 non-null  int64
 10  cc_disliked              26996 non-null  int64
 11  cc_liked                 26996 non-null  int64
 12  cc_application_begin     26996 non-null  int64
 13  app_downloaded           26996 non-null  int64
 14  web_user                 26996 non-null  int64
 15  ios_user                 26996 non-null  int64
 16  android_user             26996 non-null  int64
 17  registered_phones        26996 non-null  int64
 18  payment_type             26996 non-null  object
 19  waiting_4_loan           26996 non-null  int64
 20  cancelled_loan           26996 non-null  int64
 21  received_loan            26996 non-null  int64
 22  rejected_loan            26996 non-null  int64
 23  zodiac_sign              26996 non-null  object
 24  left_for_two_month_plus  26996 non-null  int64
 25  left_for_one_month       26996 non-null  int64
 26  reward_rate              26996 non-null  float64
 27  is_referred              26996 non-null  int64
dtypes: float64(2), int64(23), object(3)
memory usage: 5.8+ MB

In [7]:
user_identifier = dataset['user']
dataset = dataset.drop(columns=['user'])

In [8]:
dataset.housing.value_counts()

na    13856
R     10969
O      2171
Name: housing, dtype: int64

In [9]:
dataset = pd.get_dummies(dataset)

In [10]:
dataset.columns

Index(['churn', 'age', 'deposits', 'withdrawal', 'purchases_partners',
       'purchases', 'cc_taken', 'cc_recommended', 'cc_disliked', 'cc_liked',
       'cc_application_begin', 'app_downloaded', 'web_user', 'ios_user',
       'android_user', 'registered_phones', 'waiting_4_loan', 'cancelled_loan',
       'received_loan', 'rejected_loan', 'left_for_two_month_plus',
       'left_for_one_month', 'reward_rate', 'is_referred', 'housing_O',
       'housing_R', 'housing_na', 'payment_type_Bi-Weekly',
       'payment_type_Monthly', 'payment_type_Semi-Monthly',
       'payment_type_Weekly', 'payment_type_na', 'zodiac_sign_Aquarius',
       'zodiac_sign_Aries', 'zodiac_sign_Cancer', 'zodiac_sign_Capricorn',
       'zodiac_sign_Gemini', 'zodiac_sign_Leo', 'zodiac_sign_Libra',
       'zodiac_sign_Pisces', 'zodiac_sign_Sagittarius', 'zodiac_sign_Scorpio',
       'zodiac_sign_Taurus', 'zodiac_sign_Virgo', 'zodiac_sign_na'],
      dtype='object')

In [11]:
dataset = dataset.drop(columns=['housing_na','payment_type_na','zodiac_sign_na'])

In [12]:
dataset.columns

Index(['churn', 'age', 'deposits', 'withdrawal', 'purchases_partners',
       'purchases', 'cc_taken', 'cc_recommended', 'cc_disliked', 'cc_liked',
       'cc_application_begin', 'app_downloaded', 'web_user', 'ios_user',
       'android_user', 'registered_phones', 'waiting_4_loan', 'cancelled_loan',
       'received_loan', 'rejected_loan', 'left_for_two_month_plus',
       'left_for_one_month', 'reward_rate', 'is_referred', 'housing_O',
       'housing_R', 'payment_type_Bi-Weekly', 'payment_type_Monthly',
       'payment_type_Semi-Monthly', 'payment_type_Weekly',
       'zodiac_sign_Aquarius', 'zodiac_sign_Aries', 'zodiac_sign_Cancer',
       'zodiac_sign_Capricorn', 'zodiac_sign_Gemini', 'zodiac_sign_Leo',
       'zodiac_sign_Libra', 'zodiac_sign_Pisces', 'zodiac_sign_Sagittarius',
       'zodiac_sign_Scorpio', 'zodiac_sign_Taurus', 'zodiac_sign_Virgo'],
      dtype='object')

### Splittng the Dataset

In [13]:
X = dataset.drop(columns='churn')
y = dataset['churn']
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [14]:
dataset.head()

,churn,age,deposits,withdrawal,purchases_partners,purchases,cc_taken,cc_recommended,cc_disliked,cc_liked,...,zodiac_sign_Cancer,zodiac_sign_Capricorn,zodiac_sign_Gemini,zodiac_sign_Leo,zodiac_sign_Libra,zodiac_sign_Pisces,zodiac_sign_Sagittarius,zodiac_sign_Scorpio,zodiac_sign_Taurus,zodiac_sign_Virgo
0,0,37.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,0,28.0,0,0,1,0,0,96,0,0,...,0,0,0,1,0,0,0,0,0,0
2,0,35.0,47,2,86,47,0,285,0,0,...,0,1,0,0,0,0,0,0,0,0
3,0,26.0,26,3,38,25,0,74,0,0,...,0,1,0,0,0,0,0,0,0,0
4,1,27.0,0,0,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
y_train.value_counts()

0    12656
1     8940
Name: churn, dtype: int64

In [16]:
pos_index = y_train[y_train.values==1].index
neg_index = y_train[y_train.values==0].index

if len(pos_index)>len(neg_index):
    higher = pos_index
    lower = neg_index
else:
    higher = neg_index
    lower = pos_index
    
random.seed(0)
higher= np.random.choice(higher,size=len(lower))
lower= np.asarray(lower)

new_indexes=np.concatenate((lower,higher))

X_train= X_train.loc[new_indexes]
y_train = y_train[new_indexes]

### Feature Scaling

In [17]:
#feature scaling
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train2 = pd.DataFrame(sc_X.fit_transform(X_train))
X_test2 = pd.DataFrame(sc_X.transform(X_test))

X_train2.columns = X_train.columns.values
X_test.columns = X_test.columns.values

X_train2.index = X_train.index.values
X_test.index = X_test.index.values

X_train=X_train2
X_test = X_test

## Modelling through Logistic_Regression

In [52]:
#Modelling

from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(C=0.75,n_jobs=None,random_state=0)
classifier.fit(X_train,y_train)

LogisticRegression(C=0.75, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=-1, penalty='l2', random_state=0,
                   solver='lbfgs', tol=0.0001, verbose=0, warm_start=False)

In [53]:
y_pred = classifier.predict(X_test)

In [54]:
y_pred

array([1, 0, 1, ..., 1, 0, 0], dtype=int64)

In [55]:
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report
cm = confusion_matrix(y_test,y_pred)
print(cm)
accuracy_score(y_test,y_pred)

[[2757  409]
 [1719  515]]

0.605925925925926

In [56]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.62      0.87      0.72      3166
           1       0.56      0.23      0.33      2234

    accuracy                           0.61      5400
   macro avg       0.59      0.55      0.52      5400
weighted avg       0.59      0.61      0.56      5400

### Applying K-Fold Cross Validation

In [57]:
#Applying K-Fold CV

from sklearn.model_selection import cross_val_score
accuracies = cross_val_score(estimator=classifier,X=X_train,y=y_train,cv=10)

print("Accuracy : {:.2f} % ".format(accuracies.mean()*100))
print('Standard Deviation : {:.2f} %'.format(accuracies.std()*100))

Accuracy : 64.80 %
Standard Deviation : 1.23 %